body {
  background-color: #dff3ec;
}

.app {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
}

a:link {
  text-decoration: none;
}

/* Header */
.header {
  background-color: #333848;
  height: 256px;
}

.header a:visited {
  color: #dff3ec;
}

.header-text {
  padding-top: 70px;
  font-size: 52px;
  margin: 0;
}

.header h3 {
  font-size: 16px;
  margin: 0;
  padding-top: 0px;
  color: #dff3ec;
}

.header-text {
  font-style: normal;
  font-weight: 200;
  padding-left: 128px;
}

/* Categories */
.categories-item {
  width: 360px;
  height: 130px;
  background-color: #333848;
  margin-top: 100px;
  outline: 2px solid white;
  outline-offset: -12px;
}

.category {
  padding-top: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.categories {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories :not(:last-child) {
  margin-right: 80px;
}

/* PostList */
.postlist-container {
  margin-top: 100px;
}

.postlist-table {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 80px;
  color: #444;
  justify-content: center;
}

.cel {
  background-color: white;
  color: #333848;
}

.post {
  background-color: white;
  display: block;
  padding: 27px;
}

.post h1 {
  font-size: 20px;
}

.post h2,
span {
  font-size: 16px;
  font-weight: 100;
}

.read-more h2 {
  color: #333848;
}

.post-bottom {
  position: relative;
}

.btn-like {
  float: left;
  display: flex;
  padding-top: 15px;
}

.btn-like :first-child {
  padding-right: 10px;
}

.read-more {
  float: right;
}

.read-more h2 {
  margin-bottom: 0;
  font-weight: bold;
}

/* New Post */
form,
.new-post {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.new-post h1 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 20px;
}

form div {
  border: none;
  padding: 0;
}

form input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
  min-width: 100%;
  width: 100%;
  border: none;
  background-color: white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

form button {
  border: none;
  width: 600px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  background: #333848;
  color: white;
  margin-bottom: 100px;
}
