body {
  background-color: #dff3ec;
}

.app {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 200;
}

a:link {
  text-decoration: none;
}

/* Header */

.header {
  background-color: #333848;
  height: 256px;
  color: #dff3ec;
}

.header a:visited {
  color: #dff3ec;
}

.header h1 {
  padding-top: 70px;
  font-size: 52px;
  margin: 0;
}

.header h3 {
  font-size: 16px;
  margin: 0;
  padding-top: 0px;
}

.header-text {
  font-style: normal;
  font-weight: 200;
  padding-left: 128px;
}

/* Categories */

.categories-item {
  width: 360px;
  height: 130px;
  background-color: #333848;
  margin-top: 100px;
  outline: 2px solid white;
  outline-offset: -12px;
}

.categories-item h1 {
  font-size: 28px;
  color: white;
  padding-top: 25px;
}

.categories {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.categories :not(:last-child) {
  margin-right: 80px;
}

/* PostList */

.postlist-container {
  margin-top: 100px;
}

.postlist-table {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-gap: 80px;
  color: #444;
  justify-content: center;
}

.cel {
  background-color: white;
  color: #333848;
}

.post {
  display: block;
  padding: 27px;
}

.post h1 {
  font-size: 20px;
}

.post h2,
span {
  font-size: 16px;
  font-weight: 100;
}

.post :last-child {
  padding-bottom: 20px;
}

.post-bottom {
  position: relative;
}

.btn-like {
  float: left;
  display: flex;
  padding-top: 15px;
}

.btn-like :first-child {
  padding-right: 10px;
}

.read-more {
  float: right;
}

.read-more h2 {
  margin-bottom: 0;
  font-weight: bold;
}
